.DS_Store
~$*
*.tmp
Hussein_Multistate_Manuscript.md
Hussein_Multistate_Manuscript.docx
Hussein_Multistate_Manuscript.pdf
Hussein_Multistate_Manuscript_Supplementary.md
Hussein_Multistate_Manuscript_Supplementary.docx
Hussein_Multistate_Manuscript_Supplementary.pdf
